



/* #region COMMON */



.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}


.page-overlay {
    opacity: 0;
    visibility: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}

.page-overlay.is-open {
    opacity: 1;
    visibility: visible;
}


input:not(input[type="checkbox"]) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}



.text-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}





/* #endregion */



/* #region HEADER Nav Menu & Address */




.header-nav {
    color: #2e2f42;
}





.address-menu {
    margin-left: auto;
}


/* ? MOBILE MENU */






/* #endregion */


/* #region Section 1st - HERO */
.section.hero {
    display: flex;
    min-height: 100%;
    /*max-width: 100%;*/
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-1-progress.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-title,
.section.hero .order-btn {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.page-title {
    display: block;
    max-width: 496px;    
    text-align: center;    
    margin-bottom: 48px;
}

.section.hero .order-btn {
    display: block;
    text-align: center;    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.hero .order-btn:hover,
.section.hero .order-btn:focus {
    background-color: #404bbf;
}

/* #endregion */


/* #region Section 2nd - Features */

.features-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    gap: 24px;
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: center;
}

.features-list .item {
    flex-basis: calc((100% - 24px * 3) / 4);
    min-width: 264px;
}

.icon-features-box {
    display: flex;
    max-width: 100%;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

/*.features-icon {
    width: 64px;
    height: 64px;
}*/

/* #endregion */


/* #region Section 3rd - Our Team */
.section.team {
    background-color: #f4f4fd;
}

.list-team-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    gap: 24px;
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: center;
    /*align-content: space-between;
    justify-content: space-between;*/
}

.item-team-cards {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    /*width: 264px;
    height: 380px;*/
    min-width: 264px;
    overflow: hidden;
    flex-basis: calc((100% - 24px * 3) / 4);
}

.team-card-info {
    text-align: center;
    padding: 32px 0px;
}

.team-card-text {
    margin-bottom: 8px;
}
.list-team-social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;    
}

.item-team-social-links {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
    outline: transparent;
}

.icon-soc-link {
    fill: #f4f4fd;
}

/* #endregion */


/* #region Section 4th - Portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: center;
    /*align-content: space-between;
    justify-content: space-between;*/
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    min-width: 360px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    /*width: 360px;*/
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item .img-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio-item .img-overlay {
    position: absolute;
    color: #f4f4fd;
    padding: 40px 32px;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;    
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .img-overlay {
    transform: translatey(0);
}

/* #endregion */




/* #region MODAL-OVERLAY */
.backdrop-modal-window {
    background-color: rgba(46, 47, 66, 0.4);
}

.modal-window {
    /*position: relative;
    overflow-y: auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-overlay:not(.is-open) .modal-window {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-cls-btn {
    position: absolute;
    top: 24px;
    right: 24px;    
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, fill;
}

.modal-cls-btn:hover,
.modal-cls-btn:focus {
    background-color: #404bbf;
    border-color: transparent;
    fill: #fff;
}

.modal-title {
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 360px;
}

.form-input-box {
    margin-bottom: 8px;
}

.form-comment-box {
    margin-bottom: 16px;
}

.form-label,
.form-checkbox-label {
     color: #8e8f99;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.box-input {
    position: relative;
}

.input-field {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field::placeholder {
    color: #8e8f99;
    opacity: 0.5;
}

.input-field.textarea-comment {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.input-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    border-color: #4d5ae5;
}

.input-field:focus+.input-field-icon {
    fill: #4d5ae5;
}

/* ! Validation */
.input-field:user-valid,
.input-field:user-valid:required {
    border-color: #31d0aa;
} 

.input-field:user-valid+.input-field-icon {
    fill: #31d0aa;
}

.input-field:user-invalid+.input-field-icon {
    fill: tomato;
}

.text-for-invalid-data {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(110%);
    font-size: 9px;
    color: tomato;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:user-invalid~.text-for-invalid-data {
    opacity: 1;
}

.form-checkbox-box {
    display: flex;
    margin-bottom: 24px;
}

.form-checkbox-label {
    align-items: center;
    padding: 0;
}

.form-checkbox-new {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, border, fill;
    cursor: pointer;
}

.checkbox-original:focus +.form-checkbox-label>
.form-checkbox-new {
    border-color: #4d5ae5;
}

.checkbox-original:checked + .form-checkbox-label > 
.form-checkbox-new {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-form-btn {
    display: block;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: #404bbf;
}

.modal-form-btn:disabled {
    background-color: #8e8f99;
    cursor: not-allowed;
}

/* #endregion */
