/*.hidden {
    display: none;
}*/

/* #region GLOBAL */
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:focus {
    outline: 3px solid #4d5ae5;
}

a:active {
    outline: transparent;
}

html {
    scroll-behavior: smooth;
}

button {
    font-family: inherit;
    cursor: pointer;
    outline: transparent;
}

input {
    font-family: inherit;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

/* #endregion */


/* #region COMMON */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 50%;
    padding: 0;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;    
    pointer-events: none;
}

.page-overlay.is-open {
    pointer-events: auto;
}

body:has(.page-overlay.is-open) {
    overflow: hidden;
}

.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.page-title {
    color: #fff;
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.sec-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.item-title {
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #2e2f42;
}

.text-body-medium {
    font-weight: 500;
}

.text-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

input,
textarea,
label,
.text-small {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.blue-btn {
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

@media only screen and (min-width: 768px){
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding: 120px 0;
    }
}

/* #endregion */


/*! LOGO */
/* #region LOGO WEBSTUDIO */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

/* #endregion */


/** HEADER */
/* #region HEADER Nav Menu & Address */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    /*z-index: 900;*/
}

body {
    padding-top: 56px;
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 72px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*z-index: 990;*/
}

.header-logo {
    padding: 16px 0;
    display: block;
}

@media only screen and (min-width: 768px) {
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.nav-list,
.address-menu {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    fill: #2f2f37;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover,
.burger-btn:focus,
.burger-btn:active {
    fill: #4d5ae5;
}

.burger-btn-icon {
    display: block;
}

@media only screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav,
    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list {
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        /*padding: 24px 0 23px;*/
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: transparent;
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.active {
        color: #404bbf;
    }

    .nav-link.active::after {
        background-color: #404bbf;
    }

    .address-menu {
        display: block;
    }

    .contacts-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .contacts-link {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media only screen and (min-width: 1158px) {
    .contacts-list {
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

    .contacts-link {
        padding: 24px 0;
    }

    .contacts-link.text-small {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* #endregion */

/*! MOBILE MENU */
/* #region HEADER MOBILE MENU */

.backdrop-mobile-menu {
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-mobile-menu.is-open {
    transform: translateX(0);
}
@media only screen and (min-width: 768px) {
    .backdrop-mobile-menu {
        display: none;
    }
}

.mobile-menu-container {
    position: relative;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
 }

.mobile-menu-cls-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-color: rgba(46, 47, 66, 0.1);
    background-color: rgba(231, 233, 252, 0.1);
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
}

.mobile-menu-cls-btn:hover,
.mobile-menu-cls-btn:focus,
.mobile-menu-cls-btn:active {
    background-color: rgba(231, 233, 252, 0.6);
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobmenu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    color: #2e2f42;
}

.mob-nav-link.active {
    color: #404bbf;
}

.mob-nav-link:hover,
.mob-nav-link:focus,
.mob-nav-link:active {
    color: #404bbf;
}

.mobile-menu-address {
    margin-bottom: 48px;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts-link:hover,
.mob-contacts-link:focus,
.mob-contacts-link:active {
    color: #4d5ae5;
}

.box-mobmenu-soc {
    max-width: 280px;
}

.list-mobmenu-soc-links {
    display: flex;
    gap: 40px;
    margin: 0 auto;
}

.item-mobmenu-soc-link {
    width: 40px;
    height: 40px;
}

.mobmenu-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-soc-link:hover,
.mobmenu-soc-link:focus,
.mobmenu-soc-link:active {
    background-color: #31d0aa;
    outline: transparent;
}

/* #endregion */


/** MAIN*/
/*! HERO */
/* #region Section 1st - HERO */

.hero-section {
    display: flex;
    margin: 0 auto;
    padding: 72px 0;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bkgr/bkgr-office-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bkgr/bkgr-office-mob@2x-min.jpg);
    }
}


@media only screen and (min-width: 768px) {
    .hero-section {
        padding: 112px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bkgr/bkgr-office-tab-min.jpg);
    }
    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bkgr/bkgr-office-tab@2x-min.jpg);
        }
    }
}

@media only screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bkgr/bkgr-office-desk-min.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bkgr/bkgr-office-desk@2x-min.jpg);
        }
    }
}

.hero-container .page-title,
.hero-order-btn {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hero-container .page-title {
    display: block;
    max-width: 216px;
    margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
    .hero-container .header-one {
        font-size: 36px;
        line-height: 1.11;
    }
}

@media only screen and (min-width: 768px) {
    .hero-container .page-title {
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-container .page-title {
        margin-bottom: 48px;
    }
}

.hero-order-btn {
    display: block;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #404bbf;
}

/* #endregion */


/*! Features */
/* #region Section 2nd - Features */

.list-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.list-features-item {
    max-width: 288px;
}

@media only screen and (max-width: 1157px) {
    .icon-features-box {
        display: none;
    }
    .section-text-in-p {
        font-weight: 500;
    }
    .list-features-item .header-three {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
}

@media only screen and (min-width: 768px) {
    .list-features {
        column-gap: 24px;
    }
    .list-features-item {
        max-width: 288px;
    }
}

@media only screen and (min-width: 1158px) {
    .list-features {
        gap: 24px;
    }
    .list-features-item {
        flex-basis: calc((100% - 24px * 3) / 4);
        max-width: 264px;
    }
    .icon-features-box {
        display: flex;
        max-width: 100%;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
    }
}

/* #endregion */


/*! Team */
/* #region Section 3rd - Our Team */
.section.team {
    background-color: #f4f4fd;
}

.list-team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.item-team-cards {
    max-width: 264px;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .list-team-cards {
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .item-team-cards {
        flex-basis: calc((100% - 24px * 3) / 4);
        box-shadow: none;
    }
}

.team-card-info {
    text-align: center;
    padding: 32px 0px;
}

.team-card-text {
    margin-bottom: 8px;
}

.list-team-social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
}

.item-team-social-links {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
    outline: transparent;
}

/* #endregion */


/*! Portfolio */
/* #region Section 4th - Portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}

.portfolio-item {
    max-width: 288px;
    background-color: #fff;
}

.portfolio-text-box {
    padding: 32px 16px 31px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) 
and (max-width: 1157px) {
    .portfolio-list {
        row-gap: 72px;
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

@media only screen and (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px * 1) / 2);
        max-width: 356px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-list {
        column-gap: 24px;
    }
    .portfolio-item {
        flex-basis: calc((100% - 24px * 2) / 3);
        box-shadow: none;
    }
    .portfolio-item {
        max-width: 360px;
    }
}

.portfolio-item .img-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio-item .img-overlay {
    position: absolute;
    color: #f4f4fd;
    padding: 40px 32px;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .img-overlay {
    transform: translatey(0);
}

/* #endregion */


/** FOOTER */
/* #region FOOTER */
.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-footer-logo {
    text-align: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;    
}

.footer-text {
    color: #f4f4fd;
    text-align: start;
}

@media only screen and (max-width: 1157px) {
    .container.footer {
        row-gap: 72px;
    }
}

@media only screen and (min-width: 768px) 
and (max-width: 1157px) {
    .container.footer {
        padding: 0 108px;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .container.footer {
        flex-direction: row;        
        justify-content: start;
        align-items: start;        
    }

    .box-footer-logo {
        text-align: start;
    }

    .footer-text {
        max-width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .box-footer-logo {
        margin-right: 120px;
    }
}

.box-footer-socials {
    max-width: 208px;
    text-align: center;
}

.footer-title {
    display: inline-block;
    color: #fff;
    margin-bottom: 16px;
}

.list-footer-social-links {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

.item-footer-soc-link {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus,
.footer-soc-link:active {
    background-color: #31d0aa;
    outline: transparent;
}

@media only screen and (min-width: 768px) {
    .box-footer-socials {
        text-align: left;
    }
}

.box-footer-form {
    text-align: center;
    width: 100%;
}

.form-subscr-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscr-input {
    padding-left: 16px;
    color: #fff;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscr-input,
.footer-subscr-input::placeholder {
    line-height: 2;
}

.footer-subscr-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscr-input:hover,
.footer-subscr-input:focus,
.footer-subscr-input:active {
    border-color: #31d0aa;
}

.footer-subscr-icon {
    margin-left: 16px;
    fill: currentColor;
}

.footer-subscr-icon {
    margin-left: 16px;
    fill: currentColor;
}

.footer-subscr-btn:hover,
.footer-subscr-btn:focus,
.footer-subscr-btn:active {
    background-color: #31d0aa;
}

.footer-subscr-btn:disabled {
    background-color: #8e8f99;
    cursor: not-allowed;
}

@media only screen and (min-width: 768px) {       
    .box-footer-form {
        text-align: left;
    }

    .box-footer-form {
        max-width: 453px;
    }

    .form-subscr-footer {
        flex-direction: row;
        gap: 24px;
    }

    .footer-subscr-input {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .box-footer-form {
        margin-left: auto;
    }

    .footer-subscr-input {
        border-color: #fff;
    }

    .footer-subscr-input::placeholder {
        color: #fff;
    }
}


/* #endregion */

/** MODAL-OVERLAY */
/* #region MODAL-OVERLAY */

.backdrop-modal-window {
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}

.backdrop-modal-window.is-open {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.modal-window {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 288px;
    min-height: 632px;    
    margin-top: 8px;
    padding: 72px 16px 16px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal-window:not(.is-open) .modal-window {
    transform: translate(-50%, 0%) scale(0.5);
}

@media only screen and (min-width: 768px) {
    .modal-window {
        width: 408px;
        min-height: 584px;
        margin-top: 96px;
        padding: 72px 24px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .modal-window {
        margin-top: 80px;
    }
}

.modal-cls-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, fill;
}

.modal-cls-btn:hover,
.modal-cls-btn:focus,
.modal-cls-btn:active {
    background-color: #404bbf;
    border-color: transparent;
    fill: #fff;
}

.modal-title {
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 256px;
}

@media only screen and (min-width: 768px) {
    .modal-form-wrapper {
        min-width: 360px;
    }
}

.form-input-box {
    margin-bottom: 8px;
}

.form-comment-box {
    margin-bottom: 16px;
}

.form-label,
.form-checkbox-label {
    color: #8e8f99;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.box-input {
    position: relative;
}

.input-field {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field::placeholder {
    color: #8e8f99;
    opacity: 0.5;
}

.input-field.textarea-comment {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.input-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    border-color: #4d5ae5;
}

.input-field:focus+.input-field-icon {
    fill: #4d5ae5;
}

/* ! Validation */
.input-field:user-valid,
.input-field:user-valid:required {
    border-color: #31d0aa;
}

.input-field:user-valid+.input-field-icon {
    fill: #31d0aa;
}

.input-field:user-invalid+.input-field-icon {
    fill: tomato;
}


/* ! CheckBox */
.form-checkbox-box {
    margin-bottom: 24px;
}

.form-checkbox-label {
    display: flex;
    align-items: center;
}

.form-checkbox-new {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, border, fill;
    cursor: pointer;
}

.checkbox-original:focus+.form-checkbox-label>.form-checkbox-new {
    border-color: #4d5ae5;
}

.checkbox-original:checked+.form-checkbox-label>.form-checkbox-new {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.chkbx-label-text {
    display: inline-flex;
    flex-direction: column;
}

.chkbx-label-text .text-link {
    line-height: 1.17;
}

@media only screen and (min-width: 768px) {
    .chkbx-label-text {
        display: inline-block;
    }
}

.modal-form-btn {
    display: block;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: #404bbf;
}

.modal-form-btn:disabled {
    background-color: #8e8f99;
    cursor: not-allowed;
}

/* #endregion */
